<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Otel Rezervasyonu</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/icons/hotel.png">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <link rel="stylesheet" href="../assets/scss/main.css">
</head>
<body>
    <header class="o-header__wrapper">
        <div class="o-header__title">
            <h1>Otel
                <br> Rezervasyon Sistemi
            </h1>
        </div>
        <a class="c-button c-button--secondary"  href="./">Yeni Rezervasyon Yap</a>
    </header>
    <main>
        <section class="o-section">
            <div class="o-container">
                <div class="c-form__box">
                    <div class="c-progressbar">
                        <ul class="c-progressbar__wrapper">
                            <li class="c-progressbar__item active">
                                <div class="c-progressbar__icon">
                                    <img class="u-icon" src="../assets/img/icons/calendar.svg" alt="calendar-icon">
                                </div>
                                <span class="c-progressbar__title">Otel ve Tarih Seçimi</span>
                            </li>
                            <li class="c-progressbar__item ">
                                <div class="c-progressbar__icon">
                                    <img class="u-icon" src="../assets/img/icons/bed.svg" alt="calendar-icon">
                                </div>
                                <span class="c-progressbar__title">Oda Tipi ve Manzara Seçimi</span>
                            </li>
                            <li class="c-progressbar__item ">
                                <div class="c-progressbar__icon">
                                    <img class="u-icon" src="../assets/img/icons/credit-card.svg" alt="calendar-icon">
                                </div>
                                <span class="c-progressbar__title">Önizleme ve Ödeme İşlemleri</span>
                            </li>
                        </ul>
                    </div>
                    <form action="" novalidate>
                        <div class="c-form__tab js-active" >
                            <div class="c-register">
                                <div class="c-form__content">
                                    <div class="c-select">
                                        <select id="js-choose-hotel" required>
                                            <option value>Rezervasyon Yapmak İstediğiniz Oteli Seçiniz</option>
                                            <option value="Bosphorus Hotel">Bosphorus Hotel</option>
                                            <option value="Big Istanbul Hotel">Big Istanbul Hotel</option>
                                            <option value="Dela Hotel">Dela Hotel</option>
                                            <option value="Aegean Hotel">Aegean Hotel</option>
                                            <option value="Lara Hotel">Lara Hotel</option>
                                            <option value="Bodrum Hotel">Bodrum Hotel</option>
                                            <option value="Visnezade Istanbul Hotel">Visnezade Istanbul Hotel</option>
                                            <option value="Konak Istanbul Hotel">Konak Istanbul Hotel</option>
                                            <option value="Dardania Hotel">Dardania Hotel</option>
                                            <option value="Alanya Hotel">Alanya Hotel</option>
                                        </select>
                                    </div>
                                    <div class="c-form__wrapper">
                                        <div class="c-calendar c-form__item">
                                            <input type="date" id="arrive" class="c-calendar__input c-form__input" name="arrive" value="" required>
                                            <label for="arrive" class="c-calendar__label c-form__label">Giriş Tarihi</label>
                                        </div>
                                        <div class="c-calendar c-form__item">
                                            <input type="date" id="leave" class="c-calendar__input c-form__input" name="leave" value="" disabled required>
                                            <label for="leave" class="c-calendar__label c-form__label">Çıkış Tarihi</label>
                                        </div>
                                        <div class="c-form__item">
                                            <input class="c-form__input" type="number" name="adult" id="adult" value="1" min="1" required>
                                            <label class="c-form__label" for="adult">Yetişkin Sayısı</label>
                                        </div>
                                        <div class="c-form__item">
                                            <input class="c-form__input" type="number" name="child" id="child" value="0" min="0" required>
                                            <label class="c-form__label" for="child">Çocuk Sayısı</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-form__action">
                                    <button class="c-button c-button--primary js-next" >Kaydet ve Devam Et</button>
                                </div> 
                            </div>
                        </div>
                        <div class="c-form__tab ">
                            <div class="c-hotel-info">
                                <h2 class="c-hotel-info__title" id="js-title">Bosphorus Otel (İstanbul)</h2>
                                <p class="c-hotel-info__text"> <span class="c-hotel-info__label">Giriş Tarihi:</span>  <span class="c-hotel-info__value" id="js-arrive">25.12.202</span> </p> 
                                <p class="c-hotel-info__text"> <span class="c-hotel-info__label">Çıkış Tarihi:</span> <span class="c-hotel-info__value" id="js-leave"> 31.12.202 </span> </p> 
                                <p class="c-hotel-info__text"> <span class="c-hotel-info__label">Yetişkin:</span> <span class="c-hotel-info__value" id="js-adult">2</span> </p> 
                                <p class="c-hotel-info__text"> <span class="c-hotel-info__label">Çocuk: </span><span class="c-hotel-info__value" id="js-children">1</span></p> 
                            </div>

                            <div class="c-hotel-selection">
                                <h3 class="c-hotel-selection__title">Oda Tipi Seçimi</h3>
                                <fieldset class="c-hotel-selection__container" required>
                                    <input id="standard-room" type="radio" class="c-hotel-selection__input" name="type" value="Standart">
                                    <label for="standard-room" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Standart</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-standart.jpg" alt="oda-1-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>5 Gün <br>1 Yetişkin<br></p>
                                            <p>5.645 TL</p>
                                        </div>
                                    </label>
                                    <input id= "deluxe-room" type="radio" class="c-hotel-selection__input" name="type" value="Deluxe">
                                    <label for="deluxe-room" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Deluxe</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-deluxe.jpg" alt="oda-2-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>5 Gün <br>1 Yetişkin<br></p>
                                            <p>13.645 TL</p>
                                        </div>
                                    </label>
                                    <input id="suit-room" type="radio" class="c-hotel-selection__input" name="type" value="Suit">
                                    <label for="suit-room" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Suit</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-suit.jpg" alt="oda-1-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>5 Gün <br>1 Yetişkin<br></p>
                                            <p>50.645 TL</p>
                                        </div>
                                    </label>
                                </fieldset>

                            </div>
                            <div class="c-hotel-selection">
                                <h3 class="c-hotel-selection__title">Manzara Seçimi</h3>
                                <fieldset class="c-hotel-selection__container" id="view-type" required>
                                    <input id="land-view" type="radio" class="c-hotel-selection__input" name="view-type" value="Kara Manzaralı">
                                    <label for="land-view" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Kara Manzaralı</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/land-view.jpg" alt="oda-4-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>Fiyat Etki Oranı</p>
                                            <p>+1 %</p>
                                        </div>
                                    </label>
                                    <input id="pool-view" type="radio" class="c-hotel-selection__input" name="view-type" value="Havuz Manzaralı">
                                    <label for="pool-view" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Havuz Manzaralı</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/pool-view.jpg" alt="oda-5-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>5 Gün <br>1 Yetişkin<br></p>
                                            <p>13.645 TL</p>
                                        </div>
                                    </label>
                                    <input id="ocean-view" type="radio" class="c-hotel-selection__input" name="view-type" value="Deniz Manzaralı">
                                    <label for="ocean-view" class="c-hotel-selection__item">
                                        <h4 class="c-hotel-selection__type">Deniz Manzaralı</h4>
                                        <img class="u-responsive-img" src="https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/sea-view.jpg" alt="oda-6-img">
                                        <div class="c-hotel-selection__subinfo">
                                            <p>5 Gün <br>1 Yetişkin<br></p>
                                            <p>50.645 TL</p>
                                        </div>
                                    </label>
                                </fieldset>

                            </div>
                            
                            <div class="c-form__action">
                                <button class="c-button c-button--primary js-prev" >Geri</button>
                                <button class="c-button c-button--primary js-next" >Kaydet ve Devam Et</button>
                            </div> 

                        </div>
                        <div class="c-form__tab ">
                            <div class="c-payment">
                                <div class="c-frame c-frame--half">
                                    <div class="c-credit-card">
                                        <div class="c-credit-card__front active">
                                            <span class="c-credit-card__title" >Credit Card</span>
                                            <span class="c-credit-card__name" data-card="name">Onur Akşar</span>
                                            <span class="c-credit-card__number" data-card="number">0123 4567 8910 1112</span>
                                            <p class="c-credit-card__date"><span id="day" data-card="month" >01</span>/<span id="year" data-card="year">23</span></p>
                                        </div>
                                        <div class="c-credit-card__back">
                                            <span class="c-credit-card__cvc" data-card="cvv">123</span>
                                        </div>
                                    </div>
                                    <div class="c-frame c-credit-card-info">
                                        <div class="c-form__item">
                                            <input id="js-customerName" type="text" class="c-form__input" placeholder="Kartın Üzerindeki İsmi Giriniz" data-match="name" required>
                                            <label for="js-customerName" class="c-form__label">Kartın Üzerindeki İsim</label>
                                        </div>
                                        <div class="c-form__item">
                                            <input id="js-card-number" type="number" class="c-form__input" placeholder="Kartın Numarasını Giriniz" data-match="number" maxlength="16" required >
                                            <label for="js-card-number" class="c-form__label">Kart Numarası</label>
                                        </div>
                                        <div class="c-select">
                                            <select name="month" id="js-month" required data-match="month">
                                                <option value>Ay</option>
                                                <option value="1">Ocak</option>
                                                <option value="2">Şubat</option>
                                                <option value="3">Mart</option>
                                                <option value="4">Nisan</option>
                                                <option value="5">Mayıs</option>
                                                <option value="6">Haziran</option>
                                                <option value="7">Temmuz</option>
                                                <option value="8">Ağustos</option>
                                                <option value="9">Eylül</option>
                                                <option value="10">Ekim</option>
                                                <option value="11">Kasım</option>
                                                <option value="12">Aralık</option>
                                            </select>
                                        </div>
                                        <div class="c-select">
                                            <select name="year" id="js-year" data-match="year">
                                                <option value>Yıl</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                            </select>
                                        </div>
                                        <div class="c-form__item">
                                            <input id="js-cvv" type="number" class="c-form__input" placeholder="CVV Giriniz" data-match="cvv"  maxlength="3" required >
                                            <label for="js-cvv" class="c-form__label">CVV</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-checkout">
                                    <p class="c-hotel-info__title">Bosp</p>
                                    <div class="c-checkout__container">
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Giriş Tarihi:</span>  <span class="c-hotel-info__value" >25.12.202</span>
                                        </div>
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Çıkış Tarihi:</span>  <span class="c-hotel-info__value" >29.12.202</span>
                                        </div>
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Yetişkin:</span>  <span class="c-hotel-info__value" >2</span>
                                        </div>
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Çocuk:</span>  <span class="c-hotel-info__value" >3</span>
                                        </div>
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Oda Tipi:</span>  <span class="c-hotel-info__value" >lüx</span>
                                        </div>
                                        <div class="c-checkout__item c-checkout__item--half">
                                            <span class="c-hotel-info__label">Manzara:</span>  <span class="c-hotel-info__value" >dağ</span>
                                        </div>
                                        <div class="c-checkout__item ">
                                            <input id="coupon" type="text" value="" placeholder="Kupon Kodu">
                                            <button class="c-button c-button--primary" disabled id="js-coupon">Kodu Kullan</button>
                                        </div>
                                        <div class="c-checkout__item ">
                                            <p class="c-hotel-info__text"> 
                                                <span class="c-hotel-info__label">Oda Fiyatı</span><span class="c-hotel-info__value" >1.127 TL</span>
                                            </p>
                                            <p class="c-hotel-info__text"> 
                                                <span class="c-hotel-info__label">Fiyat Etki Oranı</span><span class="c-hotel-info__value" >%38</span>
                                            </p>
                                            <p class="c-hotel-info__text"> 
                                                <span class="c-hotel-info__label">Konaklama</span><span class="c-hotel-info__value" >5.635 TL</span>
                                            </p>
                                            <p class="c-hotel-info__text"> 
                                                <span class="c-hotel-info__label">İndirim (CODE100)</span><span class="c-hotel-info__value" >-100 TL</span>
                                            </p>
                                            <hr >
                                            <p class="c-hotel-info__text"> 
                                                <span class="c-hotel-info__label">TOPLAM TUTAR</span>
                                                <span class="c-hotel-info__label c-hotel-info__label--large">7.676 TL</span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-form__action">
                                <button class="c-button c-button--primary js-prev" >Geri</button>
                                <button class="c-button c-button--primary " id="js-submit" >Ödeme Yap ve Bitir</button>
                            </div> 
                        </div>
                    </form>

                </div>
                <div class="c-success">
                    <div class="c-success__wrapper">
                        <img class="c-success__image" src="../assets/img/icons/calendar.png" alt="">
                        <p class="c-success__title">Rezervasyon kaydınız alınmıştır.</p>
                        <p class="c-success__description">Rezervasyon özetiniz aşağıdaki gibidir. Rezervasyon kaydınızda değişiklik veya yeni rezervasyon yapmak için aşağıdaki linkleri kullanabilirsiniz.</p>
                        <a href="./index.html" class="c-button c-button--primary">Yeni Rezervasyon Yap</a>
                        <a href="./index.html" class="c-button c-button--primary">Rezervasyonu Güncelle</a>
                        <a href="#" id="js-cancel" class="c-button c-button--primary">Rezervasyonu İptal Et</a>
                    </div>
                    <div class="c-checkout">
                        <p class="c-hotel-info__title">Bosp</p>
                        <div class="c-checkout__container">
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Giriş Tarihi:</span>  <span class="c-hotel-info__value">25.12.202</span>
                            </div>
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Çıkış Tarihi:</span>  <span class="c-hotel-info__value">29.12.202</span>
                            </div>
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Yetişkin:</span>  <span class="c-hotel-info__value">2</span>
                            </div>
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Çocuk:</span>  <span class="c-hotel-info__value">3</span>
                            </div>
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Oda Tipi:</span>  <span class="c-hotel-info__value">lüx</span>
                            </div>
                            <div class="c-checkout__item c-checkout__item--half">
                                <span class="c-hotel-info__label">Manzara:</span>  <span class="c-hotel-info__value">dağ</span>
                            </div>
                            <div class="c-checkout__item ">
                                <p class="c-hotel-info__text"> 
                                    <span class="c-hotel-info__label">Oda Fiyatı</span><span class="c-hotel-info__value">1.127 TL</span>
                                </p>
                                <p class="c-hotel-info__text"> 
                                    <span class="c-hotel-info__label">Fiyat Etki Oranı</span><span class="c-hotel-info__value">%38</span>
                                </p>
                                <p class="c-hotel-info__text"> 
                                    <span class="c-hotel-info__label">Konaklama</span><span class="c-hotel-info__value">5.635 TL</span>
                                </p>
                                <p class="c-hotel-info__text"> 
                                    <span class="c-hotel-info__label">İndirim (CODE100)</span><span class="c-hotel-info__value">-100 TL</span>
                                </p>
                                <hr>
                                <p class="c-hotel-info__text"> 
                                    <span class="c-hotel-info__label">TOPLAM TUTAR</span>
                                    <span class="c-hotel-info__label c-hotel-info__label--large">7.676 TL</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="../assets/js/index.js"></script>
</body>
</html>