.c-form {

    &__box {
        // display: noneİ
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        // width: calc(100% / 4);
        flex: 0 50%;
        // &:not(:last-child) {
        //     margin-right: 30px;
        // }
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }

    &__input {
        min-height: 35px;
        width: 100%;
        box-sizing: border-box;
    }

    &__action {
        padding: 20px;
        background-color: #f2f2f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;

    }

    &__content {
        padding: 30px 20px;
        border: 1px solid #f2f2f2;
        margin-bottom: 20px;
    }

    &__tab {
        // display: none;
        visibility: hidden;
        height: 0;
        opacity: 0;
        position: absolute;
        left: -999em;
        transition: opacity ease 0.5s;
        &.js-active {
            position: static;
            visibility: visible;
            height: auto;
            opacity: 1;
        }
    }



}

