.c-hotel-selection {
    margin: 30px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #eee;
        padding: 20px;
        transition: all ease .2s;
    }

    &__title {
        font-weight: 600px;
        padding: 10px 0;
        border-bottom: #f2f2f2;
    }


    &__item {
        flex: 0 100%;
        border: 1px solid #b7b5b5;
        padding: 30px;
        transition: all ease 0.2s;
        cursor: pointer;
        // margin-right: 15px;
        border-radius: 10px;
        
        &:hover {
            border-color:#4db65d;
            box-shadow: 3px 1px 14px 0px #4db65d61;
        }

        &:not(&:last-of-type) {
            margin-bottom: 20px;
        }

    }

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
        &:checked + label {
            border-color: #4db65d;
        }
    }

    &__type {
        margin: 10px 0;
    }

    &__subinfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 768px){
        &__item {
            flex: 0 calc(50% - 10px);

            &:nth-of-type(2n+1) {
                margin-right: 20px;
            }

            &:nth-of-type(3n) {
                flex: 0 100%;
                margin-right: 0;
            }

            &:not(&:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }

    @media (min-width: 1200px){
        &__item {
            flex: 0 30%;
            margin-bottom: 0;
            &:not(:last-of-type) {
                margin-right: 20px;
            }

            &:nth-of-type(3n) {
                flex: 0 30%;
            }

            &:not(&:last-of-type) {
                margin-bottom: 0;
            }
        }
    }
    
}
    
